<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Niall's personal website: About | Projects | Contact" />
  <meta name="theme-color" content="#808080" />
  <meta property="og:title" content="Niall's Personal Site" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://eniallator.com" />
  <meta property="og:image" content="https://eniallator.com/static/images/avatar.jpg" />
  <meta property="og:description" content="Niall's personal website: About | Projects | Contact" />
  <meta name="twitter:card" content="https://eniallator.com/static/images/avatar.jpg">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>Niall's Personal Site</title>

  <link rel="preload" as="image" href="/static/images/dark-trees.jpg" />
  <link rel="stylesheet" href="/static/css/styles.css" />
  <% if (theme !=="no-theme" ) { %>
    <link rel="stylesheet" href="/static/css/themes/<%= theme %>.css" />
    <% } %>
      <script src="/static/js/vendor/font-awesome.js"></script>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-WN0CTS2W8R"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WN0CTS2W8R');
      </script>
</head>

<body>
  <nav role="navigation">
    <input id="nav-menu-toggle" class="hidden" type="checkbox" />
    <div class="container-lg nav-container">
      <a class="nav-home" href="/">
        <img src="/static/images/avatar.jpg" alt="Niall's avatar" width="42" height="42" />
      </a>
      <label tabindex="0" id="nav-burger-menu" for="nav-menu-toggle">
        <span class="fas fa-bars"></span>
      </label>
      <ul>
        <li> <a class="theme-font" href="#about">About</a> </li>
        <li> <a class="theme-font" href="#projects">Projects</a> </li>
        <li> <a class="theme-font" href="#contact">Contact</a> </li>
      </ul>
    </div>
    <label id="close-menu-overlay" for="nav-menu-toggle"></label>
  </nav>
  <section id="landing" role="banner">
    <% if (theme !=="no-theme" ) { %>
      <div id="theme-overlay">
        <div id="theme-container"></div>
      </div>
      <% } %>
        <div class="landing-text col-center">
          <h1 class="theme-font section-heading">Hi I'm Niall</h1>
          <p class="theme-font">I'm a full-stack developer</p>
        </div>
  </section>
  <main>
    <section id="about" class="container">
      <h1 class="theme-font section-heading" title="About me">About</h1>
      <p>
        I am a full-stack developer by trade, however I have worked on many different tech stacks for different
        purposes in the past, including an embedded Lua scripting project.
      </p>
      <div id="about-panels">
        <div id="about-panel-companies">
          <p>
            I delivered projects for these companies
          </p>
          <div id="companies">
            <a class="company" target="_blank" href="https://cartographer.io/" title="Cartographer">
              <img src="/static/images/logos/cartographer.png" height="40px" width="40px" alt="Cartographer Logo" />
            </a>
            <a class="company" target="_blank" href="https://photobot.co/" title="Photobot">
              <img src="/static/images/logos/photobot.svg" height="40px" width="137.31px" alt="Photobot Logo" />
            </a>
            <a class="company" target="_blank" href="https://fonts.google.com/" title="Google Fonts">
              <img src="/static/images/logos/google-fonts.png" height="40px" width="53.55px" alt="Font Bakery Logo" />
            </a>
            <a class="company" target="_blank" href="https://buzzshot.co/" title="Buzzshot">
              <img src="/static/images/logos/buzzshot.png" height="40px" width="174.2px" alt="Buzzshot Logo" />
            </a>
            <a class="company" target="_blank" href="https://uxbri.org/" title="UX Brighton">
              <img src="/static/images/logos/uxbri.svg" height="40px" width="40px" alt="UX Brighton Logo" />
            </a>
            <a class="company" target="_blank" href="https://livevideoescaperooms.com/" title="Live Video Escape Rooms">
              <img src="/static/images/logos/lver.png" height="40px" width="162.84px"
                alt="Live Video Escape Rooms Logo" />
            </a>
          </div>
        </div>
        <div id="about-panel-text">
          <p>
            I program as a hobby and love to explore a variety of concepts in computer science by implement them myself.
            Highly motivated and creative thinker in terms of theory application and software engineering. More of a
            "make it work" rather than "make it look good" type of person.
          </p>
          <div class="button-group">
            <a href="/cv" class="button primary">
              Online CV <em class="fas fa-external-link-alt"></em>
            </a>
            <a href="/cv/pdf-download" class="button secondary">
              PDF CV <em class="fas fa-file-download"></em>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="projects">
      <h1 class="theme-font section-heading" title="Projects">Projects</h1>
      <input id="projects-toggle" class="hidden" type="checkbox" />
      <div id="project-container" role="feed">
        <% for (let project of projects) { %>
          <article tabindex="0" title="<%= project.title %>" class="project" data-github="<%= project.github %>">
            <img class="project-thumbnail" src="/static/images/thumbnails/<%= project.thumbnail %>"
              alt="<%= project.title %> Thumbnail" />
            <div class="project-text">
              <h2>
                <%= project.title %>
              </h2>
              <p>
                <%= project.description %>
              </p>
            </div>
          </article>
          <% } %>
      </div>
      <div class="container col-center">
        <p class="projects-showing more-projects-text">
          I have many more projects (including non-web ones) on
          <a class="show-child d-inline-block" href="https://github.com/eniallator/">my github</a>.
        </p>
        <div class="projects-toggle-button">
          <label tabindex="0" for="projects-toggle" class="secondary button">
            <span class="projects-not-showing"><i class="fas fa-angle-down"></i></span>
            <span class="projects-showing"><i class="fas fa-angle-up"></i></span>
          </label>
        </div>
      </div>
      <dialog id="project-preview">
        <form method="dialog">
          <div class="header">
            <h3></h3>
            <button class="button close-button">&times;</button>
          </div>
          <iframe title="Project Preview"></iframe>
          <div class="button-group">
            <a class="button primary js-preview" href="#">
              Open <em class="fas fa-external-link-alt"></em>
            </a>
            <a class="button secondary js-repository" href="#">
              Repository <em class="fas fa-folder-open"></em>
            </a>
          </div>
        </form>
      </dialog>
    </section>
    <section id="contact" class="container">
      <h1 class="theme-font section-heading" title="Contact me">Contact</h1>
      <div class="contact-links">
        <a href="https://github.com/eniallator" role="link">
          <img alt="Github Icon" src="/static/images/github-icon.png" width="40" height="40" />
        </a>
        <a href="https://www.linkedin.com/in/niall-coleman-clarke/" role="link">
          <img alt="Linkedin Icon" src="/static/images/linkedin-icon.png" width="40" height="40" />
        </a>
      </div>
      <form accept-charset="utf-8" action="" method="POST">
        <input name="recaptcha" type="hidden" />
        <input name="name" type="text" placeholder="Name" required />
        <input name="email" type="email" placeholder="Email" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" />
        <textarea name="message" placeholder="Message" rows="4" required></textarea>
        <input type="submit" class="button secondary" value="Submit" />
      </form>
    </section>
  </main>
  <script src="/static/js/index.js"></script>
  <script async src="https://www.google.com/recaptcha/api.js?render=6LeINQMdAAAAAHgXsB7RrMoKehfacEyBVa1trZo3"></script>
  <% if (theme !=="no-theme" ) { %>
    <script src="/static/js/themes/<%= theme %>.js"></script>
    <% } %>
</body>

</html>